.root {
  display: block;
}

.title {
  align-items: center;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr max-content;
  line-height: 1.5;
  padding: 1rem 1.5rem;
}

.productName {
  font-size: 1rem;
  font-weight: 600;
}

.productPrice {
  display: block;
}

.section {
  border-bottom: 1px solid rgb(var(--venia-border));
  margin: 0 1.5rem;
  padding: 1.5rem 0;
}

.sectionTitle {
  align-items: center;
  display: flex;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  justify-content: center;
  margin-bottom: 1.5rem;
  text-align: center;
}

.imageCarousel {
  align-items: center;
  background-color: rgb(var(--venia-grey));
  color: rgb(var(--venia-text-alt));
  display: flex;
  height: 600px;
  justify-content: center;
}

.quantity,
.description,
.additionalInfo,
.relatedProducts {
  composes: section;
}

.descriptionTitle,
.additionalInfoTitle,
.relatedProductsTitle {
  composes: sectionTitle;
}

.quantityTitle {
  composes: title from '../../view/ProductOptions/option.css';
}

.relatedProducts {
  border-bottom-width: 0;
}
