.root {
  composes: root from "../button.css";
  border: 1px solid rgb(var(--venia-text));
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
}

@media(min-width:1024px) {
  .root {
    border: 0;
    border-radius: 0;
    height: auto;
    width: auto;
  }
}

.root_selected {
  composes: root;
}

.root_focused {
  composes: root;
}

.root_selected_focused {
  composes: root_selected root_focused;
}

.image {
  display: none;
}

@media(min-width: 1024px) {
  .image {
    border-radius: 2px;
    display: block;
    height: auto;
    opacity: 0.2;
    width: 100%;
  }
}

.image_selected {
  composes: image;
}

@media(min-width: 1024px) {
  .image_selected {
    opacity: 1;
  }
}

.image_focused {
  composes: image;
}

.image_selected_focused {
  composes: image_selected image_focused;
}
