.root {
  composes: root from "./tile.css";
  background-color: rgb(var(--swatch-color));
  border-color: rgba(0, 0, 0, 0.1);
  color: white;
}

.root_selected {
  composes: root;
}

.root_focused {
  composes: root;
}

.root_selected_focused {
  composes: root_selected root_focused;
}
